*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Poppins','sans-serif';
    background-color: #001861;
    color: #00008b;
}

.container{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 1.5rem;
    width: 400px;
    border-radius: 10px;
    height: 300px;
    /* padding-bottom: 0; */
}

.container.active{
    height: 470px;
}


h1{
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}

h2{
    font-size: 0.8rem;
    margin-bottom: 0.8rem;
}

.data{
    
    font-family: 'Poppins','sans-serif';
    width: 100%;
    padding: 1.2rem 2rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #001861;
    background-color: #bfcfff;
    border-radius: 0.25rem;
    margin-bottom: 1.2rem;
}

input::placeholder{
    font-size: 0.8rem;
}

.btn{
    /* align-self: center; */
    font-family: 'Poppins','sans-serif';
    font-size: 0.8rem;
    font-weight: 500;
    padding: 1rem;
    align-items: center;
    background-color: #00008b;
    border: 2px solid #00008b;
    color: white;
    cursor: pointer;
    border-radius: 10px;
}

.qr-code{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    opacity: 0;
}

div .active{
    opacity: 1;
    transition: opacity 0.5s ease;
}